.cf-border {
    border: 1px dotted black;
}

.cf-drag {
    color: #fff;
    background-color: #3c4252;
}

.cf-button {
    padding: 10px;
    background-color: #3c4252;
    color: white;
    border: none;
}

.cf-form-builder {
    padding: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr auto;
}

.cf-component-templates {
    display: flex;
    flex-direction: column;
}

.cf-component-template {
    margin: 5px;
    text-align: center;
}

.cf-open-preview,
.cf-close-preview {
    margin: 5px;
}

.cf-editor {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.cf-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.cf-config {
    padding: 5px;
}

.cf-config-controls {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    grid-gap: 10px;
}

.cf-component-title,
.cf-component-option-key,
.cf-component-option-value,
.cf-component-condition-if-value,
.cf-component-condition-othercomponent-selector {
    width: 100%;
    border: none;
    padding: 10px;
    border-color: transparent;
}

.cf-section {
    display: flex;
    margin-top: 2px;
}

.cf-component {
    padding: 5px;
    display: grid;
    grid-gap: 4px;
    flex: 1;
    margin: 5px;
    grid-auto-columns: auto;
    grid-template-rows: auto 1fr;
    align-items: center;
}

.cf-component>label:hover {
    cursor: grab;
    text-decoration: underline;
}

.cf-component h1 {
    margin: 0;
}

.cf-component textarea {
    resize: none;
}

.cf-component>span>input[type=radio]+span,
.cf-component>span>input[type=checkbox]+span {
    margin-right: 15px;
    margin-left: 5px;
}

.cf-required::after {
    content: ' *';
    color: red;
}

.cf-hidden {
    display: none;
}

.component-element {
    width: 60%;
}