.cf-border {
    border: 1px dotted black;
}

.cf-drag {
    color: #fff;
    background-color: #5755d9;
}

.cf-form-builder {
    padding: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 1fr;
}

.cf-templates {
    display: flex;
    flex-direction: column;
}

.cf-editor {
    display: grid;
    grid-template-rows: 1fr auto;
}

.cf-form {
    display: flex;
    flex-direction: column;
}

.cf-config {
    padding: 5px;
}

.cf-config-controls {
    display: grid;
    grid-gap: 10px;
}

.cf-element-template {

    margin: 5px;
    text-align: center;
}

.cf-condition-row {
    padding: 5px;
    margin-top: 1px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    align-items: center;
}

.cf-section {
    display: flex;
    margin-top: 2px;
}

.cf-component-title {
    border: none;
    border-color: transparent;
}

.cf-component {
    padding: 5px;
    display: grid;
    grid-gap: 4px;
    flex: 1;
    margin: 5px;
    grid-auto-columns: auto;
    grid-template-rows: auto 1fr;
    align-items: center;
}

.cf-component>label:hover {
    cursor: grab;
    text-decoration: underline;
}

.cf-component h1 {
    margin: 0;
}

.cf-component textarea {
    resize: none;
}

.cf-component>span>input[type=radio]+span,
.cf-component>span>input[type=checkbox]+span {
    margin-right: 15px;
    margin-left: 5px;
}

.cf-required-field::after {
    content: ' *';
    color: red;
}

.cf-hidden {
    display: none;
}